/********************* (LIGHT) **********************/
.rp-background-light {
  background-color: #a8dadc !important; }

.rp-text-light {
  color: #a8dadc !important; }

.rp-border-bottom-light {
  border-bottom-color: #a8dadc !important;
  border-bottom-width: 3px !important;
  border-bottom-style: solid !important;
  border-bottom: 3px solid #a8dadc !important; }

.rp-border-top-light {
  border-top-color: #a8dadc !important;
  border-top-width: 3px !important;
  border-top-style: solid !important;
  border-top: 3px solid #a8dadc !important; }

.rp-border-light {
  border-color: #a8dadc !important;
  border-width: 3px !important;
  border-style: solid !important;
  border: 3px solid #a8dadc !important; }

/********************************************************/
/********************* (DARKER) ********************/
.rp-background-darker {
  background-color: #e63946 !important; }

.rp-text-darker {
  color: #e63946 !important; }

.rp-border-bottom-darker {
  border-bottom-color: #e63946 !important;
  border-bottom-width: 3px !important;
  border-bottom-style: solid !important;
  border-bottom: 3px solid #e63946 !important; }

.rp-border-top-darker {
  border-top-color: #e63946 !important;
  border-top-width: 3px !important;
  border-top-style: solid !important;
  border-top: 3px solid #e63946 !important; }

.rp-border-darker {
  border-color: #e63946 !important;
  border-width: 3px !important;
  border-style: solid !important;
  border: 3px solid #e63946 !important; }

/********************************************************/
/********************* (DARKEST) ********************/
.rp-background-darkest {
  background-color: #1d3557 !important; }

.rp-text-darkest {
  color: #1d3557 !important; }

.rp-border-bottom-darkest {
  border-bottom-color: #1d3557 !important;
  border-bottom-width: 3px !important;
  border-bottom-style: solid !important;
  border-bottom: 3px solid #1d3557 !important; }

.rp-border-top-darkest {
  border-top-color: #1d3557 !important;
  border-top-width: 3px !important;
  border-top-style: solid !important;
  border-top: 3px solid #1d3557 !important; }

.rp-border-darkest {
  border-color: #1d3557 !important;
  border-width: 3px !important;
  border-style: solid !important;
  border: 3px solid #1d3557 !important; }

/********************************************************/
/********************* (LIGHTEST) ********************/
.rp-background-lightest {
  background-color: white !important; }

.rp-text-lightest {
  color: white !important; }

.rp-border-bottom-lightest {
  border-bottom-color: white !important;
  border-bottom-width: 3px !important;
  border-bottom-style: solid !important;
  border-bottom: 3px solid white !important; }

.rp-border-top-lightest {
  border-top-color: white !important;
  border-top-width: 3px !important;
  border-top-style: solid !important;
  border-top: 3px solid white !important; }

.rp-border-lightest {
  border-color: white !important;
  border-width: 3px !important;
  border-style: solid !important;
  border: 3px solid white !important; }

/********************************************************/
/********************* (LIGHTER) ********************/
.rp-background-lighter {
  background-color: #f1faee !important; }

.rp-text-lighter {
  color: #f1faee !important; }

.rp-border-bottom-lighter {
  border-bottom-color: #f1faee !important;
  border-bottom-width: 3px !important;
  border-bottom-style: solid !important;
  border-bottom: 3px solid #f1faee !important; }

.rp-border-top-lighter {
  border-top-color: #f1faee !important;
  border-top-width: 3px !important;
  border-top-style: solid !important;
  border-top: 3px solid #f1faee !important; }

.rp-border-lighter {
  border-color: #f1faee !important;
  border-width: 3px !important;
  border-style: solid !important;
  border: 3px solid #f1faee !important; }

/********************************************************/
/********************* (DARK) **********************/
.rp-background-dark {
  background-color: #457b9d !important; }

.rp-text-dark {
  color: #457b9d !important; }

.rp-border-bottom-dark {
  border-bottom-color: #457b9d !important;
  border-bottom-width: 3px !important;
  border-bottom-style: solid !important;
  border-bottom: 3px solid #457b9d !important; }

.rp-border-top-dark {
  border-top-color: #457b9d !important;
  border-top-width: 3px !important;
  border-top-style: solid !important;
  border-top: 3px solid #457b9d !important; }

.rp-border-dark {
  border-color: #457b9d !important;
  border-width: 3px !important;
  border-style: solid !important;
  border: 3px solid #457b9d !important; }

/********************************************************/
/********************* (HIGHLIGHT) **********************/
.rp-background-highlight {
  background-color: #ff9f1c !important; }

.rp-text-highlight {
  color: #ff9f1c !important; }

.rp-border-bottom-highlight {
  border-bottom-color: #ff9f1c !important;
  border-bottom-width: 3px !important;
  border-bottom-style: solid !important;
  border-bottom: 3px solid #ff9f1c !important; }

.rp-border-top-highlight {
  border-top-color: #ff9f1c !important;
  border-top-width: 3px !important;
  border-top-style: solid !important;
  border-top: 3px solid #ff9f1c !important; }

.rp-border-highlight {
  border-color: #ff9f1c !important;
  border-width: 3px !important;
  border-style: solid !important;
  border: 3px solid #ff9f1c !important; }

/********************************************************/
/********************* COMBINATIONS ********************/
a.rp-link-hover:hover {
  text-decoration: underline;
  color: #e63946 !important;
  background-color: #a8dadc !important; }

/********************************************************/
