/*parrotgreen*/
.rp-background-one {
	background-color: #C9D8B6 !important;
}

.rp-text-one {
	color: #C9D8B6 !important;
}

.rp-border-bottom-one {
	border-bottom-color: #C9D8B6 !important;
	border-bottom-width: 3px !important;
	border-bottom-style: solid !important;
	border-bottom: 3px solid #C9D8B6 !important;
}

.rp-border-top-one {
	border-top-color: #C9D8B6 !important;
	border-top-width: 3px !important;
	border-top-style: solid !important;
	border-top: 3px solid #C9D8B6 !important;
}

/*blueish*/
.rp-background-two {
	background-color: #515E63 !important;
}

.rp-text-two {
	color: #515E63 !important;
}

.rp-border-two {
	border-color: #515E63 !important;
	border-width: 1px !important;
	border-style: solid !important;
	border: 1px solid #515E63 !important;
}

/*lightgreen*/
.rp-background-three {
	background-color: #F1ECC3 !important;
}

.rp-text-three {
	color: #F1ECC3 !important;
}

.rp-border-three {
	border-color: #F1ECC3 !important;
	border-width: 1px !important;
	border-style: solid !important;
	border: 1px solid #F1ECC3 !important;
}

/*darkgreen*/
.rp-background-four {
	background-color: #57837B !important;
}

.rp-text-four {
	color: #57837B !important;
}

a.rp-link-hover:hover {
	text-decoration: underline;
	color: #1d3557 !important;
	background-color: #a8dadc !important;
}
